$red: #EE1D23;
$red2: #E91924;
$red3: #B20217;
$black: #231F20;
$black2: #021222;
$gry: #BCBDC0;
$gry2: #F5F5F5;
$desc: #D1D1D1;
$desc2: #A3A3A3;
$desc3: #ededed;
$desc4: #555967;
$desc5: #717C85;
$desc6: #505D67;
$desc7: #A6ADB4;
$desc8: #858585;
$desc9: #B2B2B2;
$desc10:767676;
$desc10: #535E72;
$border: #707070;
$border2: #D3D8DB;
$bg: #ECECEC;
$bg2: #f8f8f8;
$bg3: #F0F0F1;
$bg4: #EFEFEF;
$bg5: #E0E5EE;
$bg6: #f9f9f9;
$bg7: #f5f7fa;
$bg8:#f2f2f2;

$transition: all .3s;