.agency-list {
  margin-top: 45px;

  .section_head {
    .title {
      font-size: 22px;
    }
  }

  #agencyItems {
    min-height: 465px;
  }

  .item {
    margin-inline: 0 !important;
    width: 100% !important;
    margin-bottom: 35px !important;

    &#agencyItems {
      .content::before {
        display: none !important;
      }
    }

    .image {
      padding: 0px !important;
    }

    .content {
      .title {
        position: relative;
        font-size: 16px;
        margin-bottom: 90px;

        &::after {
          content: "";
          height: 30px;
          width: 3px;
          background: $red3;
          position: absolute;
          right: -22px;
          top: -5px;
          bottom: 50%;
          transition: $transition;
        }
      }

      .data {
        font-weight: 200;
        font-size: 12px;
        top: -32px;
      }

      ul {
        margin-top: -80px;

        li {
          list-style: circle;
          margin-right: 25px;
          line-height: 2;
          font-size: 14px;

          span {
            font-weight: bold;
            font-size: 13px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 991px) {
    margin-bottom: 130px;
  }

  @media screen and (max-width: 767px) {
    .item {
      .content {
        .title {
          margin-top: 15px;
          margin-bottom: 70px !important;
        }
      }
    }
  }
}
